*materials take from https://www.hackerrank.com/*

# Set
* A set is an unordered collection of elements without duplicate entries.
* When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.
* Basically, sets are used for membership testing and eliminating duplicate entries.

In [2]:
print(set())

set()

In [3]:
print(set('HackerRank'))

{'e', 'H', 'r', 'R', 'n', 'c', 'k', 'a'}

In [4]:
print(set([1,2,1,2,3,4,5,6,0,9,12,22,3]))

{0, 1, 2, 3, 4, 5, 6, 9, 12, 22}

In [5]:
print( set((1,2,3,4,5,5)))

{1, 2, 3, 4, 5}

In [6]:
print(set(set(['H','a','c','k','e','r','r','a','n','k'])))

{'c', 'e', 'k', 'a', 'H', 'r', 'n'}

In [7]:
print(set({'Hacker' : 'DOSHI', 'Rank' : 616 }))

{'Hacker', 'Rank'}

In [10]:
print(set(enumerate(['H','a','c','k','e','r','r','a','n','k'])))

{(9, 'k'), (5, 'r'), (4, 'e'), (6, 'r'), (3, 'k'), (2, 'c'), (8, 'n'), (0, 'H'), (7, 'a'), (1, 'a')}

## Task

Now, let's use our knowledge of sets and help Mickey.

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

Formula used:

$$ Avarage = \frac{Sum of Distinct Heights}{Total Number of Distinct Heights} $$


**Input Format**

The first line contains the integer, $ N $, the total number of plants.

The second line contains the $ N $ space separated heights of the plants.

**Constraints**
$$ 0 < N \le 100$$

**Output Format**

Output the average height value on a single line.

**Sample Input**

10
161 182 161 154 176 170 167 171 170 174

**Sample Output**

169.375

**Explanation**

Here, set $$ ([154,161,167,170,171,174,176,182]) $$ is the set containing the distinct heights. 

Using the *sum()* and *len()* functions, we can compute the average.

$$ Average = \frac{1355}{8} = {169.375}$$

In [19]:
def average(array):
    s = sum(set(array))
    l = len(set(array))
    a = s/l
    return a

In [35]:
def average_1line(array):
    # your code goes here
    try:
        return sum(set(array))/len(set(array))
    except NameError:
        print("Empty Array")
        pass

In [12]:
array = [161, 182, 161, 154, 176, 170, 167, 171, 170, 174]

In [36]:
print(average_1line(array))

169.375

## Symmetric Difference

In [38]:
# raw input
a = input()

5 4 3 2

In [43]:
lis = a.split()
print(lis)

['5', '4', '3', '2']

In [42]:
newlis = list(map(int,lis))
print(newlis)

[5, 4, 3, 2]

## Creating Sets

In [46]:
myset = {1, 2, 2} # Directly assigning values to a set
myset = set()  # Initializing a set
myset = set(['a', 'b', 'b']) # Creating a set from a list
myset

{'a', 'b'}

### MODIFYING SETS

**.add()** 

If we want to add a single element to an existing set, we can use the **add()** operation.

It adds the element to the set and returns *'None'*.

In [47]:
myset.add('c')
myset

{'a', 'b', 'c'}

In [48]:
myset.add('a') # As 'a' already exists in the set, nothing happens
myset.add((5, 4))
myset

{(5, 4), 'a', 'b', 'c'}

In [71]:
s = set('HackerRank')
s.add('H')
print(s)
#set(['a', 'c', 'e', 'H', 'k', 'n', 'r', 'R'])

{'e', 'H', 'r', 'R', 'n', 'c', 'k', 'a'}

In [72]:
print(s.add('HackerRank'))
#None

None

In [73]:
print(s)
#set(['a', 'c', 'e', 'HackerRank', 'H', 'k', 'n', 'r', 'R'])

{'e', 'HackerRank', 'H', 'r', 'R', 'n', 'c', 'k', 'a'}

***
**.remove(x)**

This operation removes element $x$ from the set.

If element $x$ does not exist, it raises a $KeyError$.

The **.remove(x)** operation returns $None$.

In [1]:
s = set([1, 2, 3, 4, 5, 6, 7, 8, 9])
s.remove(5)
print (s)
#set([1, 2, 3, 4, 6, 7, 8, 9])

{1, 2, 3, 4, 6, 7, 8, 9}

In [2]:
print (s.remove(4))
#None

None

In [3]:
print (s)
#set([1, 2, 3, 6, 7, 8, 9])

{1, 2, 3, 6, 7, 8, 9}

In [4]:
s.remove(0)
#KeyError: 0

KeyError: 0

**********
**.discard(x)**

This operation also removes element $x$ from the set.

If element $x$ does not exist, it **does not** raise a $KeyError$.

The **.discard(x)** operation returns $None$.

In [6]:
s = set([1, 2, 3, 4, 5, 6, 7, 8, 9])
s.discard(5)
print (s)
#set([1, 2, 3, 4, 6, 7, 8, 9])

{1, 2, 3, 4, 6, 7, 8, 9}

In [7]:
print (s.discard(4))
#None

None

In [8]:
print (s)
#set([1, 2, 3, 6, 7, 8, 9])

{1, 2, 3, 6, 7, 8, 9}

In [9]:
s.discard(0)
print (s)
#set([1, 2, 3, 6, 7, 8, 9])

{1, 2, 3, 6, 7, 8, 9}

***********
**.pop()**

This operation removes and return an arbitrary element from the set.

If there are no elements to remove, it raises a $KeyError$.

In [10]:
s = set([1])
print (s.pop())
#1

1

In [11]:
print (s)
#set([])

set()

In [12]:
print (s.pop())
#KeyError: pop from an empty set

KeyError: 'pop from an empty set'

******
### Task

You have a non-empty set $s$, and you have to execute $N$ commands given in $N$ lines.

The commands will be pop, remove and discard.

**Input Format**

The first line contains integer $n$, the number of elements in the set $s$.

The second line contains $n$ space separated elements of set $s$. All of the elements are non-negative integers, less than or equal to 9.

The third line contains integer $N$, the number of commands.
The next $N$ lines contains either pop, remove and/or discard commands followed by their associated value.

**Constraints**

$0 < n < 20$

$0 < N < 20$ 

**Output Format**

Print the sum of the elements of set $s$ on a single line.

**Sample Input**

9\
1 2 3 4 5 6 7 8 9\
10\
pop\
remove 9\
discard 9\
discard 8\
remove 7\
pop \
discard 6\
remove 5\
pop \
discard 5

**Sample Output**

4

**Explanation**

After completing these $10$ operations on the set $([4])$, we get set. Hence, the sum is $4$.

**Note:** Convert the elements of set s to integers while you are assigning them. To ensure the proper input of the set, we have added the first two lines of code to the editor.

In [13]:
n = int(input())
s = set(map(int, input().split())) 
for i in range(int(input())):
    eval('s.{0}({1})'.format(*input().split()+['']))

print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

********
## Task

Apply your knowledge of the .add() operation to help your friend Rupal.

Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of $N$ country stamps.

Find the total number of distinct country stamps.

**Input Format**

The first line contains an integer , the total number of country stamps.
The next  lines contains the name of the country where the stamp is from.

**Constraints**

$0 < N < 1000$

**Output Format**

Output the total number of distinct country stamps on a single line.

**Sample Input**

7 \
UK \
China\
USA \
France \
New Zealand \
UK \
France 

**Sample Output**

5

**Explanation**

UK and France repeat twice. Hence, the total number of distinct country stamps is  5(five).

In [75]:
i = input()

7  UK  China USA  France  New Zealand  UK  France

In [85]:
s = set()
for _ in range(int(input())):
    s.add(input())
print(len(s))

7
UK
China
USA
France
New Zealand
UK
France
5

In [86]:
print(len(set([str(input()) for x in range(int(input()))])))

7
UK
China
USA
France
New Zealand
UK
France
5

Using the **update()** function:

In [49]:
myset.update([1, 2, 3, 4]) # update() only works for iterable objects
myset

{(5, 4), 1, 2, 3, 4, 'a', 'b', 'c'}

In [50]:
myset.update({1, 7, 8})
myset

{(5, 4), 1, 2, 3, 4, 7, 8, 'a', 'b', 'c'}

In [51]:
myset.update({1, 6}, [5, 13])
myset

{(5, 4), 1, 13, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

## REMOVING ITEMS

Both the **discard()** and **remove()** functions take a single value as an argument and removes that value from the set. If that value is not present, **discard()** does nothing, but **remove()** will raise a KeyError exception.

In [52]:
myset.discard(10)
myset

{(5, 4), 1, 13, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [53]:
myset.remove(13)
myset

{(5, 4), 1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

## COMMON SET OPERATIONS 
<img src="./img/AuB.png" />

The **.union()** operator returns the union of a set and the set of elements in an iterable.

Sometimes, the $|$ operator is used in place of **.union()** operator, but it operates only on the set of elements in set.

Set is immutable to the **.union()** operation (or | operation).

In [54]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.union(b) # Values which exist in a or b

{2, 4, 5, 9, 11, 12}

In [14]:
s = set("Hacker")
print( s.union("Rank"))
#set(['a', 'R', 'c', 'r', 'e', 'H', 'k', 'n'])

{'R', 'a', 'e', 'H', 'r', 'k', 'c', 'n'}

In [15]:
print (s.union(set(['R', 'a', 'n', 'k'])))
#set(['a', 'R', 'c', 'r', 'e', 'H', 'k', 'n'])

{'R', 'e', 'k', 'c', 'a', 'H', 'r', 'n'}

In [16]:
print (s.union(['R', 'a', 'n', 'k']))
#set(['a', 'R', 'c', 'r', 'e', 'H', 'k', 'n'])

{'R', 'a', 'e', 'H', 'r', 'k', 'c', 'n'}

In [18]:
print (s.union(enumerate(['R', 'a', 'n', 'k'])))
#set(['a', 'c', 'r', 'e', (1, 'a'), (2, 'n'), 'H', 'k', (3, 'k'), (0, 'R')])

{(2, 'n'), 'k', 'c', (3, 'k'), 'a', 'H', 'r', (1, 'a'), 'e', (0, 'R')}

In [19]:
print (s.union({"Rank":1}))
#set(['a', 'c', 'r', 'e', 'H', 'k', 'Rank'])

{'a', 'e', 'H', 'r', 'k', 'c', 'Rank'}

In [20]:
s | set("Rank")
#set(['a', 'R', 'c', 'r', 'e', 'H', 'k', 'n'])

{'H', 'R', 'a', 'c', 'e', 'k', 'n', 'r'}

***
### Task

The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to at least one newspaper.

**Input Format**

The first line contains an integer, $n$, the number of students who have subscribed to the English newspaper.
The second line contains $n$ space separated roll numbers of those students.
The third line contains $b$, the number of students who have subscribed to the French newspaper.
The fourth line contains $b$ space separated roll numbers of those students.

**Constraints**

$0 < Total number of students in college < 1000$

**Output Format**

Output the total number of students who have at least one subscription.

**Sample Input**

9\
1 2 3 4 5 6 7 8 9\
9\
10 1 2 3 11 21 55 6 8

**Sample Output**

13

**Explanation**

Roll numbers of students who have at least one subscription: $1,2,3,4,5,6,7,8,9,10,11,21$ and $55$. Roll numbers: $1,2,3,6$ and $8$ are in both sets so they are only counted once.
Hence, the total is $13$ students.

In [56]:
a.intersection(b) # Values which exist in a and b

{2, 4}

In [57]:
a.difference(b) # Values which exist in a but not in b

{5, 9}

***
The **union()** and **intersection()** functions are symmetric methods:

In [58]:
a.union(b) == b.union(a)
# True

True

In [59]:
a.intersection(b) == b.intersection(a)
#True

True

In [60]:
a.difference(b) == b.difference(a)
#False

False

## Task
Given 2 sets of integers, $M$ and $N$, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either   $M$ or $N $  but do not exist in both.

**Input Format**

The first line of input contains an integer, $M$. \
The second line contains $M$ space-separated integers. \
The third line contains an integer, $N$. \
The fourth line contains $N$ space-separated integers.

**Output Format**

Output the symmetric difference integers in ascending order, one per line.

**Sample Input**

4 \
2 4 5 9 \
4 \
2 4 11 12 

**Sample Output**

5 \
9 \
11 \
12

In [68]:
m = [set(input().split()) for _ in range(2)][1::2]

4
2 4 5 9

In [69]:
m

[{'2', '4', '5', '9'}]

In [61]:
a,b = [set(input().split()) for _ in range(4)][1::2]
print(*sorted(a^b, key=int), sep='\n')

4
2 4 5 9
4
2 4 11 12
5
9
11
12