# SQL.

In [8]:
import sqlite3
from sqlite3 import Error
import pandas as pd
from datetime import datetime

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

In [3]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [4]:
db = 'e_database.sqlite'
conn = create_connection(db)

In [5]:
create_table1 = """ CREATE TABLE IF NOT EXISTS transactions (id integer PRIMARY KEY,
user_id integer NOT NULL,
created_at datetime NOT NULL,
product_id integer NOT NULL,
quantity integer NOT NULL
);"""

In [6]:
create_table(conn, create_table1)

In [9]:
for i in range(20):
    i_id = i*1000
    user_id = i
    created_at = dt.today
    product_id = random(i)
    quantity = i*3
    #insert_table1 = """INSERT INTO transactions (id, user_id, created_at, product_id, quantity) VALUES(i_id) """

TypeError: 'i_id' is an invalid keyword argument for print()