*materials take from https://www.hackerrank.com/*

# Set
* A set is an unordered collection of elements without duplicate entries.
* When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.
* Basically, sets are used for membership testing and eliminating duplicate entries.

In [2]:
print(set())

set()

In [3]:
print(set('HackerRank'))

{'e', 'H', 'r', 'R', 'n', 'c', 'k', 'a'}

In [4]:
print(set([1,2,1,2,3,4,5,6,0,9,12,22,3]))

{0, 1, 2, 3, 4, 5, 6, 9, 12, 22}

In [5]:
print( set((1,2,3,4,5,5)))

{1, 2, 3, 4, 5}

In [6]:
print(set(set(['H','a','c','k','e','r','r','a','n','k'])))

{'c', 'e', 'k', 'a', 'H', 'r', 'n'}

In [7]:
print(set({'Hacker' : 'DOSHI', 'Rank' : 616 }))

{'Hacker', 'Rank'}

In [10]:
print(set(enumerate(['H','a','c','k','e','r','r','a','n','k'])))

{(9, 'k'), (5, 'r'), (4, 'e'), (6, 'r'), (3, 'k'), (2, 'c'), (8, 'n'), (0, 'H'), (7, 'a'), (1, 'a')}

## Task

Now, let's use our knowledge of sets and help Mickey.

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

Formula used:

$$ Avarage = \frac{Sum of Distinct Heights}{Total Number of Distinct Heights} $$


**Input Format**

The first line contains the integer, $ N $, the total number of plants.

The second line contains the $ N $ space separated heights of the plants.

**Constraints**
$$ 0 < N \le 100$$

**Output Format**

Output the average height value on a single line.

**Sample Input**

10
161 182 161 154 176 170 167 171 170 174

**Sample Output**

169.375

**Explanation**

Here, set $$ ([154,161,167,170,171,174,176,182]) $$ is the set containing the distinct heights. 

Using the *sum()* and *len()* functions, we can compute the average.

$$ Average = \frac{1355}{8} = {169.375}$$

In [19]:
def average(array):
    s = sum(set(array))
    l = len(set(array))
    a = s/l
    return a

In [35]:
def average_1line(array):
    # your code goes here
    try:
        return sum(set(array))/len(set(array))
    except NameError:
        print("Empty Array")
        pass

In [12]:
array = [161, 182, 161, 154, 176, 170, 167, 171, 170, 174]

In [36]:
print(average_1line(array))

169.375

## Symmetric Difference

In [38]:
# raw input
a = input()

5 4 3 2

In [43]:
lis = a.split()
print(lis)

['5', '4', '3', '2']

In [42]:
newlis = list(map(int,lis))
print(newlis)

[5, 4, 3, 2]

## Creating Sets

In [46]:
myset = {1, 2, 2} # Directly assigning values to a set
myset = set()  # Initializing a set
myset = set(['a', 'b', 'b']) # Creating a set from a list
myset

{'a', 'b'}

### MODIFYING SETS

Using the **add()** function. 

If we want to add a single element to an existing set, we can use the **add()** operation.

It adds the element to the set and returns *'None'*.

In [47]:
myset.add('c')
myset

{'a', 'b', 'c'}

In [48]:
myset.add('a') # As 'a' already exists in the set, nothing happens
myset.add((5, 4))
myset

{(5, 4), 'a', 'b', 'c'}

In [71]:
s = set('HackerRank')
s.add('H')
print(s)
#set(['a', 'c', 'e', 'H', 'k', 'n', 'r', 'R'])

{'e', 'H', 'r', 'R', 'n', 'c', 'k', 'a'}

In [72]:
print(s.add('HackerRank'))
#None

None

In [73]:
print(s)
#set(['a', 'c', 'e', 'HackerRank', 'H', 'k', 'n', 'r', 'R'])

{'e', 'HackerRank', 'H', 'r', 'R', 'n', 'c', 'k', 'a'}

## Task

Apply your knowledge of the .add() operation to help your friend Rupal.

Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of $N$ country stamps.

Find the total number of distinct country stamps.

**Input Format**

The first line contains an integer , the total number of country stamps.
The next  lines contains the name of the country where the stamp is from.

**Constraints**

$0 < N < 1000$

**Output Format**

Output the total number of distinct country stamps on a single line.

**Sample Input**

7 \
UK \
China\
USA \
France \
New Zealand \
UK \
France 

**Sample Output**

5

**Explanation**

UK and France repeat twice. Hence, the total number of distinct country stamps is  5(five).

In [75]:
i = input()

7  UK  China USA  France  New Zealand  UK  France

In [85]:
s = set()
for _ in range(int(input())):
    s.add(input())
print(len(s))

7
UK
China
USA
France
New Zealand
UK
France
5

In [86]:
print(len(set([str(input()) for x in range(int(input()))])))

7
UK
China
USA
France
New Zealand
UK
France
5

Using the **update()** function:

In [49]:
myset.update([1, 2, 3, 4]) # update() only works for iterable objects
myset

{(5, 4), 1, 2, 3, 4, 'a', 'b', 'c'}

In [50]:
myset.update({1, 7, 8})
myset

{(5, 4), 1, 2, 3, 4, 7, 8, 'a', 'b', 'c'}

In [51]:
myset.update({1, 6}, [5, 13])
myset

{(5, 4), 1, 13, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

## REMOVING ITEMS

Both the **discard()** and **remove()** functions take a single value as an argument and removes that value from the set. If that value is not present, **discard()** does nothing, but **remove()** will raise a KeyError exception.

In [52]:
myset.discard(10)
myset

{(5, 4), 1, 13, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [53]:
myset.remove(13)
myset

{(5, 4), 1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

## COMMON SET OPERATIONS 
Using **union()**, intersection() and difference() functions.

In [54]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.union(b) # Values which exist in a or b

{2, 4, 5, 9, 11, 12}

In [56]:
a.intersection(b) # Values which exist in a and b

{2, 4}

In [57]:
a.difference(b) # Values which exist in a but not in b

{5, 9}

The **union()** and intersection() functions are symmetric methods:

In [58]:
a.union(b) == b.union(a)
# True

True

In [59]:
a.intersection(b) == b.intersection(a)
#True

True

In [60]:
a.difference(b) == b.difference(a)
#False

False

## Task
Given 2 sets of integers, $M$ and $N$, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either   $M$ or $N $  but do not exist in both.

**Input Format**

The first line of input contains an integer, $M$. \
The second line contains $M$ space-separated integers. \
The third line contains an integer, $N$. \
The fourth line contains $N$ space-separated integers.

**Output Format**

Output the symmetric difference integers in ascending order, one per line.

**Sample Input**

4 \
2 4 5 9 \
4 \
2 4 11 12 

**Sample Output**

5 \
9 \
11 \
12

In [68]:
m = [set(input().split()) for _ in range(2)][1::2]

4
2 4 5 9

In [69]:
m

[{'2', '4', '5', '9'}]

In [61]:
a,b = [set(input().split()) for _ in range(4)][1::2]
print(*sorted(a^b, key=int), sep='\n')

4
2 4 5 9
4
2 4 11 12
5
9
11
12